<div class="container">
  <div class="card-group">
  <% @dogs.each do |dog| %>
     <div class="card">
        <div class="card-header"><%= dog.name %></div>
         <div class="card-image"> 
           <% if dog.avatar.attached? %>
            <%= link_to dog_path(dog), method: 'get' do %>
              <img src="<%=(url_for(dog.avatar))%>" >
            <% end %>
           
          <% end %>

         </div>
         <div class="card-footer">
          <button class="card-button"> <%= link_to 'Show', dog_path(dog), method: 'get' %></button>
          <button class="card-button"><%= link_to 'Edit', edit_dog_path(dog), method: 'get'%></button>
          <button class="card-button">  <%= link_to 'Remove', dog_path(dog), method: 'delete', 
              data: { confirm: 'Are you sure?' }%></button>
         </div> 
       </div>
  <% end %>
</div>
</div>
